/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Sidebar Styles */
.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #bfbec7;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar h2 {
    color: black;
    margin-bottom: 20px;
}

/* Main Content Styles */
.main-content {
    background: linear-gradient(to bottom, #add8e6, #2f4f4f);
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content h1 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

/* Form Styles */
.form-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 20px;
    font-size: 16px;
    color: white;
    width: 100px;
    text-align: right;
}

.form-group input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;a
    color: black;
    cursor: pointer;
    font-size: 16px;
}
